#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
button{
  font-size: 2rem;
}

button{
  margin: 0 20px;
  width: 70px;
}

#reset-button{
  font-size: 1.5rem;
  margin: 20px 0;
  padding: 10px;
  width: 170px;
}

#custom-input-div *{
  font-size: 1rem;
}